# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

/cache/
/nbproject/
*.sublime-project
*.sublime-workspace
*.DS_Store
/tests/report/
/tests/_output/*
.idea/
/logs/

composer.lock

# Google App Engine generated folder
appengine-generated/